*{
  margin: 0;
  padding: 0;
  
}
body{
  background-image: url(images/background/background-1523115_640.jpg);
  background-attachment: fixed;
 }
.main-container{
  margin-left: 15%;
  margin-right: 15%;
  box-sizing: border-box;
  border-radius: 4px;
  background: rgb(236, 230, 223, 0.8);
  max-width: 1000px;
  min-width: 900px;
  overflow: hidden;

}
p{
  font-family: 'Open Sans', sans-serif;
}

.blog-title{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  border-bottom: 5px double rgb(114, 111, 111);
}
.blog-title h1{
  display: inline-block;
  position: relative;
  text-align: left;
  background: rgb(49, 49, 49);
  margin-right: 75%;
  color: #f2f2f2;
  text-shadow: 0px -1px 2px black;
  padding: 25px  10px 30px;
  text-transform: uppercase;
}
.blog-title h2{
  text-transform: capitalize;
  position: absolute;
  top: 70px;
  left: 35%;
  padding: 15px;
  margin: 0 auto;
}
.menu ul{
  text-align: center;
}
.menu ul li{
  display: inline-block;
  padding: 10px 10px 10px 10px;
  margin: 15px 50px 30px 50px;
}
 a{
  font-family: 'Montserrat', sans-serif; 
  text-decoration: none;
  padding: 5px;
  border: 0.8px solid rgb(114, 111, 111);
  color: #000000;
  border-radius: 5px;
  transition: 0.5s;
}

a:hover{
  background: rgb(49, 49, 49);
  color:#f2f2f2;
  border-radius:5px;
  -webkit-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.2); 
  box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.2);
}


 .article-container h2, h2 + p{
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize; 
  text-align: center;
}

.sec-1, .sec-2{
  margin: 35px 50px 35px 35px;
}
.sec-1 .fig-1{
  float: left;
  padding: 0 30px 30px;
  margin-top: 15px;
  margin-right: 45px;
}
.fig-1a{
  clear: both;
}
.sec-1 figcaption{
  padding-top: 10px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.sec-1 .fig-1 img{
 padding:35px;
 background-image: url(images/sf.png);
 background-position: center;
 border: 1px solid black;
 -webkit-box-shadow: 0px 1px 10px 1px #000000; 
 box-shadow: 0px 1px 10px 1px #000000;
}

.sec-2 .fig-2 img{
  width: 100%;
  padding: 10px;
}
.sec-2 figcaption{
  padding: 10px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}






footer{
  background: rgb(49, 49, 49);
  width: 100%;
  height: 100px;
  margin-top: 25px;
  color: #f2f2f2;
}